.center {
    text-align: center;
}

.leftdiv {
    float: left;
    width: 23%;
    /* border: 1px solid red; */

}

.rightdiv {
    float: left;
    width: 23%;
    /* border: 1px solid red; */

}

.sidebar {
    padding: 1%;
    background-color: 009900;
    width: 20%;
}

.middlediv {
    float: left;
    background-color: 009900;
    width: 54%;
    /* border: 1px solid red; */
}

.gameboard {
    width: 55%;
    margin: auto;
    margin-top: 10px;
    white-space: nowrap;
}

.spacecontent_texts {
    /* margin-top: 0px;
    /* text-align: center; */
    margin-bottom: 15%;
    /* padding-left: 2%; */
}

.spacecontent_dots {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    padding: 0px;
    /* text-align: center; */
}

.roomtile {
    width: 100%;
    /* padding-top: 100%; */
    background-color: white;
    outline: 1px solid black;
    white-space: normal;
}

.verthalltile {
    width: 50%;
    /* padding-top: 100%; */
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    outline: 1px solid black;
    white-space: normal;
}

.horihalltile {
    width: 100%;
    /* padding-top: 50%; */
    margin-top: 25%;
    margin-bottom: 25%;
    background-color: white;
    outline: 1px solid black;
    white-space: normal;
}

.blanktile {
    width: 100%;
    /* padding-top: 100%; */
}

.gameCol {
    width: 19%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#yourcards_box{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    width: 90%;

    word-wrap: break-word;
}

#extracards_box{
    margin: auto;
    /* margin-bottom: 5%; */

    width: 100%;

    word-wrap: break-word;
}

.yourcarddisplay {
    border: 1px solid #000;
}

.extracarddisplay {
    border: 1px solid #000;
}

.playercard {
    text-align: center;
    width: 16.66%;
    height: 100%;
    display: inline-block;
    outline: 1px solid black;
    vertical-align: top;
}

.extracard {
    text-align: center;
    width: 33.33%;
    height: 100%;
    display: inline-block;
    outline: 1px solid black;
    vertical-align: top;
}

.spacecontent {
    float: left;
    line-height: 1em;
}

.dot {
    float: left;
    /* font-size: 2em; */
    /* line-height: ; */
    height: 10px;
    width: 10px;
    border-radius: 50%;

    /* margin: 0px;
    padding: 0px; */
}

.dot.red {
    background-color: red;
}

.dot.yellow {
    background-color: yellow;
    border: 1px solid black;
}

.dot.white {
    background-color: white;
    border: 1px solid black;
}

.dot.green {
    background-color: green;
}

.dot.blue {
    background-color: blue;
}

.dot.plum {
    background-color: plum;
}

#playerlist_box {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    margin: auto;
    overflow-y: auto;
}

#textlog_box {
    margin-top: 10px;
    /* height: 400px; */
    width: 100%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.btn {
    margin-top: 5%;
}